<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../css/introduction.css">
        <title>자기소개</title>
    </head>
    <body>
        <h2><i>Hello, I'm Yechan</i></h2>

        <img src="../images/moving_susi.gif" alt="데굴데굴초밥" width="250px"/>

        <h3>INFORMATION</h3>
        <ul>
            <li><b>Age</b>: 24</li>
            <li><b>Univ</b>: Kookmin</li>
            <li><b>Major</b>: Software</li>
            <li><b>MBTI</b>: INTJ</li>
            <li><b>Interested in</b>: Security</li>
        </ul>

        <hr>

        <h3>ABOUT ME</h3>

        <div class="container">
            <a href="https://github.com/aliquis-facio">
                <img src="../images/github.png" alt="github" width="50px"/>
            </a>
            <a href="https://www.instagram.com/pi_is_314/">
                <img src="../images/instagram.webp" alt="instagram" width="50px"/>
            </a>    
        </div>
    </body>
</html>