<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../assets/css/ToDoList.css">
        <title>To-Do List</title>
    </head>

    <body>
        <div class="container">
            <div class="header">
                <h1 id="today">2025. 04. 27.</h1>
                <h2 id="weekday">일요일</h2>
                <p class="remain">할 일 <span id="remain-cnt">0</span>개 남음</p>
            </div>
            
            <hr>
            
            <div id='list' class="list">
            </div>
            
            <div class="foot">
                <input id='add-todo' type="text" placeholder="할 일을 입력해주세요.">
            </div>
        </div>
        <button class="circle" onclick="addToDo()">+</button>

        <script src="..\assets\js\ToDoList.js"></script>
    </body>
</html>
