<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../css/temp.css">
        <script src="../assets/js/test.js"></script>
        <title>To-Do List</title>
    </head>

    <body>
        <div class="container">
            <h1>2025. 04. 27.</h1>
            <h2>일요일</h2>
            <p class="remain">할 일 <span id="remain-cnt">1</span>개 남음</p>
            
            <hr>

            <div class="todo">
                <input type="checkbox">
                <label>아침 산책</label>
                <button class="delete-btn">X</button>
            </div>
    
            <div class="todo">
                <input type="checkbox">
                <label>오늘의 뉴스 읽기</label>
                <button class="delete-btn">X</button>
            </div>
    
            <input type="text" placeholder="할 일을 입력해주세요.">
        </div>

        <button class="circle">+</button>
    </body>
</html>
